@media only screen and (min-width:328px) and (max-width:412px) {
  .sidebar,
  header .right-sec div{
    display: none;
  }

  header {
    left: 0;
  }
  .left-sec {
    align-items: center;
    gap: 1rem;
    padding-left: 10px;
  }
  
  #mobile_Menu {
    display: block;
  }


  .toggle-menu {
    display: none;
  }

  header .change-modes {
    display: flex !important;
  }

  main {
    margin-left: 0;
  }

  main .titleSec {
    gap: 0.5rem;
    padding: 1rem 0;
  }

  main .titleSec .heading h2 {
    font-size: 1.2rem !important;
  }

  main .titleSec .right button {
    padding: 5px 8px;
    gap: 5px;
    font-size: 10px;
    line-height: 1;
    min-height: 30px;
  }

  main .titleSec .right button span {
    font-size: 1em;
  }

  main .mainSec {
    padding: 0.5rem 0;
  }

  .card {
    padding: 1rem !important;
  }

  .mainSec .left-sideCards .row1 .card1 {
    height: 100%;
    flex-direction: row;
    padding: 0 !important;
  }

  .mainSec .left-sideCards .row1 .card1 .imgArea {
    width: 375px;
  }

  .mainSec .left-sideCards .row1 .card1 img {
    position: static;
    width: 100%;
    height: 100%;
  }

  .mainSec .left-sideCards .row1 .card1 .text-area {
    padding: 20px;
  }

  .mainSec .left-sideCards .row1 .card1 .text-area h2 {
    font-size: 14px !important;
  }

  .mainSec .left-sideCards .row1 .card1 .text-area p {
    font-size: 12px;
    line-height: 1.1;
  }

  .mainSec .left-sideCards .row2 {
    grid-template-columns: auto;
  }

  .mainSec .left-sideCards .row3 .card {
    height: 200px;
  }

  .mainSec .left-sideCards .row4 .card {
    height: 200px;
  }

  .mainSec .left-sideCards .row4 .card .card-title {
    padding-top: 0;
  }

  .mainSec .left-sideCards .row4 .card1 .card-body .right .round-progress {
    margin-right: 0;
    height: 100px;
    width: 100px;
  }

  .mainSec .left-sideCards .row4 .card1 .card-body .right .round-progress .inner-circle {
    height: 80px;
    width: 80px;
  }

  .mainSec .right-sideCards .card2 {
    height: 130px;
  }

  .mainSec .right-sideCards .card4 .card-title {
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .mainSec .right-sideCards .card4 .progressBar-row {
    margin-bottom: 1rem;
  }

  footer {
    font-size: 10px;
  }

  footer p {
    margin-left: 0;
  }

}